
/* Credits: 
The code used for about-me section is from:
https://www.digitalocean.com/community/tutorials/how-to-build-the-about-me-section-of-your-website-with-css-section-2

The form code is from https://freefrontend.com/css-contact-forms/, 
modified to my own project
*/

/* navbar */

.contact::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: 0.3s;
  border-bottom: 2px;
}

.nav-links .contact::before {
  width: 100%;
  height: 2px;
  background-color: black;
}

/* Contact us - About Section */

.contact-us {
  padding: 100px 0;
}
.contact-us iframe {
  width: 100%;
}

.about-me h1 {
  font-size: 2.5rem;
}

.column-1 {
  padding: 70px;
  line-height: 1.6;
}

.column-1 p {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: justify;
}
.column-2 img {
  margin-top: 80px;
  width: 100%;
  border-radius: 15px;
}

form {
  border-radius: 15px;
  box-shadow: 0px 0px 15px #b5b5b5;
}
.main-location {
  position: relative;
}
.main-location span {
  margin-left: 20px;
}
.contact-icons {
  font-size: 30px;
  color: red;
}
.location-icon {
  position: absolute;
  top: 10px;
}
.contact-us span {
  font-size: 18px;
  color: #57565c;
  padding: 10px;
  display: inline-block;
}

.form,
title {
  font-family: "Montserrat", sans-serif;
  color: #212529;
  font-size: 2.5rem;
}

.form-control {
  background-color: #ffcdcd;
  border-radius: 2rem;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.form-control.thick {
  height: 3.3rem;
  padding: 0.5rem 3.5rem;
}

.form-control:focus {
  background-color: #ffcdcd;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.message .form-control {
  padding: 0.5rem 1.8rem;
}

#formMessage::placeholder {
  color: rgb(182, 181, 181);
  font-weight: 200;
  font-size: 1.3rem;
}

::placeholder {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #838788;
  position: relative;
  left: 0;
}

input,
textarea {
  font-family: sans-serif;
  color: #c5c6c6;
  font-size: 1.3rem;
}

.form button {
  font-family: sans-serif;
  padding: 18px 22px;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid #c31010;
  color: #c31010;
  transition: all 0.5s;
  background-color: white;
}

.form button:hover {
  background-color: #c31010;
  color: white;
}
.sessions {
  font-size: 1.6rem;
  font-weight: 800;
}

