* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
h1,
h2,
button,
a {
  font-family: "Montserrat", sans-serif;
}

/* Navbar Section */

img {
  width: 120px;
}
.nav-links {
  justify-content: end;
  width: 100%;
}

nav.navbar a.nav-link {
  color: red;
}

.nav-links a {
  margin-left: 30px;
  font-weight: 800;
  font-size: 1.8rem;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: 0.3s;
}

.nav-links a:focus::before {
  width: 100%;
}

.faqs::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: 0.3s;
  border-bottom: 2px;
}

/* FAQs Section */
.faqs-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.faqs-title {
  text-align: center;
  margin-bottom: 30px;
}

.faq {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.question {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

.faq.active {
  border: none;
}

.Q {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.6rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-weight: bold;
}

.Q i {
  font-size: 1.6rem;
}

.active,
Q:hover {
  background-color: #ffcdcd;
}

.answer {
  padding: 2rem 2rem 2.5rem 2rem;
  font-weight: 500;
  background-color: white;
  overflow: hidden;
  background-color: #ffffff;
  display: none;
}

.answer p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.4rem;
  line-height: 1.4;
}

.faqs-button {
  padding: 18px 22px;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid #c31010;
  color: #c31010;
  transition: all 0.5s;
}

.faqs-button:hover {
  background-color: #c31010;
  color: white;
}

/* Footer Section */
footer {
  background-color: #222;
  min-height: 200px;
}

.footerlogos img {
  width: 60px;
}

.footerlogos img:hover {
  opacity: 0.8;
}
