* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
h1,
h2,
button,
a {
  font-family: "Montserrat", sans-serif;
}

/* Navbar Section */

img {
  width: 120px !important;
}
.nav-links {
  justify-content: end;
  width: 100%;
}
.nav-links a {
  color: red !important;
  margin-left: 30px;
  font-weight: 800;
  font-size: 1.8rem;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: 0.3s;
}

.nav-links a:focus::before {
  width: 100%;
}

.gallery::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: 2px;
  background-color: black;
  transition: 0.3s;
  border-bottom: 2px;
}

/* Gallery*/

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
h1 {
  color: coral;
} */
.gallery-title {
  font-size: 5rem;
}
.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
.photos {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  border: solid 2px black;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.photos:hover {
  border-color: coral;
}

.photos img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.photos:hover img {
  filter: grayscale(0);
}

/* Footer Section */

footer {
  background-color: #222;
  min-height: 200px;
}

.footerlogos img {
  width: 60px !important;
}

.footerlogos img:hover {
  opacity: 0.8;
}
