@media (max-width: 800px) {
  .section-testimonial {
    padding: 50px 0;
  }
  .testimonial-content p {
    font-size: 1.2rem;
  }
  .testimonial-content h1 {
    font-size: 2.5rem;
  }
  .testimonial-content button {
    font-size: 1.2rem;
  }
  .header-content h1 {
    font-size: 3.2rem;
  }
  .header-content button {
    padding: 12px 18px;
    font-size: 1.6rem;
  }
}
/* in a contact section  */
@media (max-width: 500px) {
  .contact-us {
    padding: 0 40px !important;
    line-height: 2;
  }
  .about-me {
    padding: 0 40px !important;
  }
}
@media (max-width: 1015px) {
  form {
    margin: 50px 0;
    /* border: 1px solid #57565c; */
    border-radius: none;
    box-shadow: none !important;
  }
}
