* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
h1,
h2,
button,
a {
  font-family: "Montserrat", sans-serif;
}

/* Navbar Section */

img {
  width: 120px !important;
}
.nav-links {
  justify-content: end;
  width: 100%;
}
.nav-links a {
  color: red !important;
  margin-left: 30px;
  font-weight: 800;
  font-size: 1.8rem;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: 0.3s;
}

.nav-links a:focus::before {
  width: 100%;
}

/* Header section */

header {
  background-image: url(https://images.unsplash.com/photo-1606685544086-ce4ab1b91c21?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80);
  background-position: 0% 5%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 88vh;
  transition: 0.5s;
  filter: grayscale(100%);
  display: flex;
  align-items: center;
}
header:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}

.header-content h1 {
  color: white;
  font-size: 5.2rem;
  max-width: 800px;
  font-family: "Montserrat", sans-serif;
}

.header-content button {
  border: none;
  padding: 18px 22px;
  background-color: white;
  color: black;
  font-family: sans-serif;
  font-size: 1.8rem;
  transition: 0.5s;
}

.header-content button:hover {
  background-color: black !important;
  color: white;
  transition: 0.5s;
}

/* Gallery Section */

#section-1 {
  padding: 100px 20px;
}

#section-1 h1 {
  font-size: 5rem;
}

#section-1 img {
  height: 600px;
  filter: grayscale(100%);
  transition: all 0.5s;
}

#section-1 img:hover {
  filter: grayscale(0%);
}
#section-1 button {
  padding: 18px 22px;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid #c31010;
  color: #c31010;
  transition: all 0.5s;
  background-color: white;
}

#section-1 button:hover {
  background-color: #c31010;
  color: white;
}

/* Testimonial Section */

.section-testimonial {
  padding: 100px 0;
}

.testimonial-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c31010;
  display: inline-block;
}

.testimonial-content h1 {
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
  color: black;
}

.testimonial-content button {
  padding: 18px 22px;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid #c31010;
  color: #c31010;
  transition: all 0.5s;
}

.testimonial-content button:hover {
  background-color: #c31010;
  color: white;
}

.comments-pic {
  width: 20px;
  color: #c31010;
  margin-right: 10px;
}

.section-testimonial {
  background-color: #f2f2f2;
  padding: 100px 0px;
}

.card-testimonial {
  background-color: white;
  border-radius: 10px;
}

.main-quotes img {
  margin-top: 20px;
  width: 25% !important;
  filter: grayscale(30%);
}

.card-content {
  font-size: 1.9em;
  font-family: sans-serif;
  color: gray;
}

.testimonial-img img {
  border-radius: 20%;
  width: 70px !important;
}
.testimonial-img {
  float: left;
}

.testimonial-star {
  margin-left: 80px;
}

/* Services Section */

.section-3 {
  background-color: #f7eeef;
}

.section-services {
  padding: 100px 0 50px 0;
}

.section-services h2 {
  font-family: sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: capitalize;
  color: black;
  margin: 30px 0 20px 10px;
}

.package-cart {
  border-radius: 15px;
  box-shadow: 10px 10px 10px 10px rgb(222, 221, 221);
  padding: 0 20px;
  background-color: white;
}
.pricing.content img {
  width: 30px !important;
}

.package-img {
  background-color: rgb(247, 238, 239);
  width: 100px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.package-img img {
  width: 30px !important;
}

.pricing-content img {
  width: 40px !important;
}

.pricing-content span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c31010;
}

.pricing-content span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c31010;
}
.pricing-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c31010;
  margin-left: 40px;
  line-height: 1.8;
}

.third-col {
  margin-top: -10px;
}

.section-3 h1 {
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
  color: black;
  margin-bottom: 30px;
}

.section-3 button {
  padding: 18px 22px;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid #c31010;
  color: #c31010;
  transition: all 0.5s;
  background-color: white;
}

.section-3 button:hover {
  background-color: #c31010;
  color: white;
}

/* Footer Section */

footer {
  background-color: #222;
  min-height: 200px;
}

.footerlogos img {
  width: 60px !important;
}

.footerlogos img:hover {
  opacity: 0.8;
}
